.progress-wrapper {
  display: block;
  position: relative;
}

.progress-wrapper[hidden] {
  display: none;
}

.progress-wrapper progress {
  display: block;
  width: 100%;
  margin: 2px;
  appearance: none;
  height: 2rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

@keyframes shine {
  from {
    background-color: #09c;
  }

  to {
    background-color: #259b24;
  }
}

.progress-wrapper progress::-webkit-progress-bar {
  border-radius: 1rem;
  background-color: transparent;
}

.progress-wrapper progress::-webkit-progress-value {
  border-radius: 1rem;
  background-color: #03a9f4;
}

.progress-wrapper progress::-moz-progress-bar {
  border-radius: 1rem;
  background-color: #03a9f4;
}

.progress-wrapper label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-weight: bold;
  /*  text-shadow: 1px 1px 0px white; */
}
