@font-face {
  font-family: Akkurat;
  src: url(/fonts/AkkuratLLWeb-Regular.woff2);
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Akkurat;
  src: url(/fonts/AkkuratLLWeb-Bold.woff2);
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

:root {
  --tu-green: #639a00;
  --tu-hover: #404040;
  --tu-active: #808080;
}

html {
  width: 100%;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

body {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;
  max-width: 60rem;
  background-color: #ffffff;
  
}

html,
body {
  font-family: "Akkurat", sans-serif;
  font-size: 16px;
}

.sticky-header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #111111;
}

.sticky-footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #404040;
}

footer a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

footer a:hover {
  background-color: var(--tu-green);
}

dialog {
  max-width: 60rem;
}

main {
  max-width: 60rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  row-gap: 1rem;
  background-color: white;
}

main form {
  width: 40rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 1px black;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

main section text {
  text-align: left;
}

a {
  color: #00b7ff;
}

button {
  background-color: var(--tu-green);
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: var(--tu-hover);
}

button:active {
  background-color: var(--tu-active);
}

button[disabled] {
  background-color: #808080;
  color: #404040;
  cursor: default;
}

dialog::backdrop {
  backdrop-filter: blur(4px);
}

dialog form {
  display: flex;
  flex-direction: column;
}

dialog form textarea {
  resize: none;
  width: 512px;
  height: 256px;
}

.dialog-message {
  font-size: 1.5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

pre.inline {
  border-radius: 2px;
  background-color: lightgray;
  display: inline;
}

.message-error {
  color: crimson;
}

.message-success {
  color: limegreen;
}

.message-info {
  color: orange;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;

  row-gap: 0.5rem;
}

.form-grid label {
  text-align: left;
}

.form-grid .form-buttons {
  position: relative;
  grid-column: 1 / 3;
}

@keyframes pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.form-grid .form-buttons button {
  margin-left: 1rem;
  margin-right: 1rem;
}

dialog fieldset {
  min-width: 512px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  row-gap: 0.5rem;
  border: none;
  margin: 0;
  padding: 0;
}

dialog fieldset legend {
  font-size: 1.5rem;
  text-align: center;
}

.dialog-input-area {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  width: 100%;
}

.dialog-input-area input {
  font-size: 1.25rem;
}

.dialog-buttons {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 0.5rem;
  width: 100%;
}

.dialog-buttons button {
  min-width: 192px;
}

.dialog-buttons button:has(i.fas) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.dialog-buttons a.button-like {
  text-align: center;
  min-width: 192px;
}

.dialog-buttons a.button-like:has(i.fas) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.navigation-bar {
  display: flex;
  grid-template-columns: 7fr 1fr;
  grid-template-areas: "navigation user";
  background-color: black;
  color: white;
}

.site-navigation {
  grid-area: navigation;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.user-navigation {
  grid-area: user;
  width: 100%;
}

.user-navigation button {
  background: transparent;
  border-radius: 0;
  padding: 0;
  margin: 0;
  width: 100%;

  line-height: 3rem;
  height: 3rem;
  color: white;
}

a.navigation.button-like {
  display: block;

  line-height: 3rem;
  height: 3rem;
  color: white;

  width: 256px;

  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

a.navigation.button-like:hover {
  background: white;
  color: black;
}

a.navigation.button-like i.fas {
  font-size: 1.5em;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  float: left;
  line-height: 3rem;
}

dialog a.button-like {
  background-color: var(--tu-green);
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;

  text-decoration: none;
}

dialog a.button-like:hover {
  background-color: var(--tu-hover);
}

dialog a.button-like:active {
  background-color: var(--tu-active);
}

main a.button-like {
  background-color: var(--tu-green);
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;

  text-decoration: none;
}

main a.button-like text {
  line-height: 2rem;
}

main a.button-like:hover {
  background-color: var(--tu-hover);
}

main a.button-like:active {
  background-color: var(--tu-active);
}

.video-button {
  min-width: 256px;
}

button i.fas ~ text,
a.button-like i.fas ~ text {
  line-height: 2rem;
}

button i.fas,
a.button-like i.fas {
  font-size: 1.25em;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.user-navigation button i.fas {
  font-size: 1.5em;
  float: left;
  line-height: 3rem;
}

.user-navigation button:hover {
  background: white;
  color: black;
}

.video-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.25rem;
}

#project-area {
  width: 100%;
  text-align: center;
}

#project-area table {
  width: 100%;
}

#upload-area {
  display: flex;
  flex-grow: 1;
  width: 100%;
  flex-direction: column;
  border-top: 1px solid black;
  padding-top: 0.5rem;
}

#insert-area {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
}

#insert-area progress {
  width: 100%;
}

label.fileinput {
  position: relative;
  background-color: var(--tu-green);
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.25em 1em 0.25em 1em;
  font-weight: bold;

  cursor: pointer;
}

label.fileinput:hover {
  background-color: var(--tu-hover);
}

label.fileinput:active {
  background-color: var(--tu-active);
}

.fileinput input[type="file"] {
  display: none;
}

.columns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.token-column {
  max-width: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-actions button {
  max-width: 50%;
}

td:hover {
  background-color: #eeeeee;
}

.note-column {
  min-width: 256px;
}

main.admin {
  max-width: unset;
}

@keyframes ping {
  0% {
    background: white;
    outline-offset: 0.25rem;
  }
  33% {
    outline-offset: 0.5rem;
  }
  100% {
    outline-offset: 0.25rem;
  }
}

:focus {
  outline: 2px solid #ca7406;
  outline-offset: 0.25rem;
  animation: ping 0.33s linear;
}

main section {
  width: 100%;
  box-sizing: content-box;
  padding: 0.5rem;
  border: 1px inset rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

section p {
  text-align: left;
}

section li {
  text-align: left;
}

.tile-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 1rem;
  max-width: 30rem;
}

a.tile-like {
  display: flex;
  flex-direction: column;
  background-color: var(--tu-green);
  color: white;
  border: none;
  justify-content: space-around;
  width: 8rem;
  height: 8rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

a.tile-like:hover {
  background-color: var(--tu-hover);
}

a.tile-like:active {
  background-color: var(--tu-active);
}

a.tile-like i.fas {
  display: block;
  font-size: 4rem;
}

@keyframes turning {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.turning {
  animation: turning 1s infinite;
}

video {
  max-width: 100%;
}

pre.code {
  background-color: #eeeeee;
  text-align: left;
  padding: 1rem;
  border-radius: 2px;
}

input:not(:valid) {
  background-color: #ffeeee;
}

input:valid {
  background-color: #eeffee;
}

input:disabled {
  background-color: #cccccc;
  color: #111111;
}

.file-item {
  list-style: none;
  cursor: default;
}

.file-table li:hover {
  background-color: rgb(74, 74, 74);
}

.file-item::marker {
  content: "\f15b";
  box-sizing: border-box;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.content-block {
  width: 100%;
  height: auto;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: stretch;
  flex: 1 1 auto;
}

.file-table {
  text-align: left;
  max-height: 800px;
  overflow-y: scroll;
  background: rgb(37, 37, 37);
  color: rgb(240, 240, 240);
  border: 2px inset white;
}

.file-table ul {
  margin: 0;
  padding-left: 1rem;
}

.file-table::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

.file-table::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
}

.file-table::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.file-table::-webkit-scrollbar-track {
  background-color: rgb(37, 37, 37);
}

.sync-area {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-content: center;
  flex: 1 1 auto;
}

.same {
  color: rgb(128, 128, 128);
}

.newer {
  color: rgb(128, 192, 128);
}

.older {
  color: rgb(192, 64, 96);
}

.caret {
  cursor: pointer;
  list-style: none;
}

li.caret::marker {
  content: "\f105";
  box-sizing: border-box;
  background: gray;
  padding-right: 1rem;
  width: 2rem;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

li.caret:not(.active) * {
  display: none;
}

li.caret.active::marker {
  content: "\f107";
}

#names-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

#names-container .name-entry {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

#names-container .name-entry input {
  flex-grow: 1;
}

#items-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

#items-container .item-container {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

#items-container .item-container .input-container {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 0.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.4rem;
  flex-grow: 1;
}
