extends layout

block scripts 
  script(src="/javascripts/admin.js")

block content
  h1 Administration
  h2 Benutzerkonten
  section.admin
    table
      thead 
        tr
          th Nummer
          th Benutzername
          th E-Mail
          th Aktionen
      tbody
        each account in accounts
          tr
            td
              span= account.id
            td
              span= account.username
            td
              span= account.email
            td.actions
              button.action(onclick="deleteAccount('"+account.username+"')")
                i.fas.fa-trash
                span Entfernen

block dialogs