extends layout

block scripts 
  script(src="/javascripts/admin.js")

block content
  header
    h1 Administration
  main.admin
    h2 Benutzerkonten
    table
      thead 
        tr
          th Nummer
          th Benutzername
          th E-Mail
          th Aktionen
      tbody
        each account in accounts
          tr
            td
              text= account.id
            td
              text= account.username
            td
              text= account.email
            td.table-actions
              button(onclick="chargeAmberscript('"+account.username+"')")
                i.fas.fa-plus
                text Amberscript Guthaben aufladen
              button
                i.fas.fa-trash
                text Entfernen
block dialogs