extends layout

block scripts 

block content
  h1 Decker Konfiguration
  section
    p Die Dienste, die Decker für die Funktionalitäten des Folienfeedbacks, der Teilnehmerumfragen und der 
      | Live-Untertitel-Synchronisation verwendet werden auch von uns angeboten.
    p Hier finden Sie die 
      | entsprechenden Konfigurationseinstellungen, die Sie zum Nutzen unserer Diense verwenden müssen.
    h2 decker.yaml
    pre.code
      | # Frage-/Feedbackmenu
      | feedback:
      |   base-url: "https://decker.cs.tu-dortmund.de/feedback"
      |
      | # Teilnehmerumfragen (Mutliple Choice Gewinnspiel)
      | poll-server: "wss://decker.cs.tu-dortmund.de/quizzer/quiz"
      |
      | # Live-Untertitel
      | caption-server: "https://decker.cs.tu-dortmund.de/captions"
      | speech-recognition-language: "de-DE"
    h2 rsync
    pre.code
      | publish:
      |   rsync:
      |     destination: 'decker-#{account.username}@decker.cs.tu-dortmund.de:/home/decker-#{account.username}/decks/projectname'
      |     options:
      |       - '-av'

block dialogs