extends layout

block scripts 
    script(defer src="/javascripts/convert.js")

block styles
  link(rel='stylesheet', href='/stylesheets/convert.css')

block content
  h1 PDF Umwandeln
  div#explanation
    p
      | Sie können eine PDF-Datei hochladen und in eine Deckerpräsentation umwandeln.
    p
      | Die Konvertierung extrahiert aus jeder PDF-Seite ein SVG-Bild und bettet dieses in eine
      | Folie der Webpräsentation ein. Als Ergebnis erhalten Sie eine ZIP-Datei mit einem fertigen
      | Deckerprojekt, das Sie anpassen können. Das von Ihnen übersetzte Projekt können Sie als
      | Webpräsentation wieder hochladen.
  div#event-logs
    div#local-log-area
      h3 Lokale Ereignisse
      div#local-log.log
    div#server-log-area
      h3 Serverseitige Ereignisse
      div#server-log.log
  form
    label.fileinput#file-upload-placeholder(tabindex="0" onkeydown="passOn(event)")
      span#file-upload-label Datei auswählen
      input#file-upload-input(type="file" enctype="multipart/form-data" name="projectFile" onchange="inputChanged()")
    button#file-upload-button.action(type="button" onclick="upload()" title="Hochladen" aria-label="Hochladen" hidden)
      i.fas.fa-upload
      text Upload starten
block dialogs