extends layout

block content
  header 
    h1 Hinweise zum Datenschutz
  main
    section
      p Folgende Daten werden von diesem Dienst verarbeitet:
      ul
        li Benutzerkontoinformationen um eine Anmeldung zum Dienst zu ermöglichen:
          ul
            li Benutzername, E-Mail
        li Vom Nutzer angebene Zusatzdaten zum Benutzerkonto:
          ul
            li Kryptografieschlüssel
        li Vom Nutzer hochgeladene Präsentationen
          ul
            li 