extends layout

block scripts 
  script(defer src="/javascripts/glossary.js")

block content
  h1 Amberscript Glossar
  div#recommendation-area
    h2 Projekte nach Schlüsselwörtern durchsuchen
    div#selection-area
      select#project-select
        option(value="") Kein Projekt ausgewählt
      select#deck-select(disabled)
        option(value="") Kein Foliensatz ausgewählt
    div#keyword-area
      h3 Schlüsselwörter
  form#glossary-form(onsubmit="return false;")
    fieldset#glossary-name
      legend Glossarname
      input#glossary-name-input(placeholder="Name des Glossars" value="")
    fieldset#glossary-names
      legend Glossarinhalt: Namen
      div#names-container
      button#add-name-button.action(type="button" onclick="addGlossaryName()")
        i.fas.fa-plus
        span Name hinzufügen
    fieldset#glossary-items
      legend Glossarinhalt: Begriffe
      div#items-container
      button#add-item-button.action(type="button" onclick="addGlossaryItem()")
        i.fas.fa-plus
        span Begriff hinzufügen
    button.action(type="button" onclick="confirmGlossary()") Glossar speichern
    div#message-area
      span#status-message
block dialogs