extends layout

block content
  h1 Ein Fehler ist aufgetreten.
  if error
    if error.status
      h2= "Fehlernummer " + error.status
    else
      h2 Fehlernummer 500
  div.centered
    span= message
  if error
    if error.stack
      h3 Fehlerinformationen
      pre= error.stack
