extends layout

block scripts 
  script(defer src="/javascripts/glossaries.js")
block content
  h1 Amberscript Glossarübersicht
  p Sie können hier Glossare oder Wörterbücher mit Fachbegriffen und Namen erstellen, die Sie bei Erstellung von Untertiteln dem Auftrag 
    | hinzufügen können, um die automatische Erkennung dieser Begriffe zu verbessern.
  table#glossary-table
    thead
      tr
        th Glossar
        th Aktionen
    tbody
      each glossary in glossaries
        tr
          td= glossary.name.split(":")[1]
          td.actions
            a.action(href="/amberscript/glossary/"+glossary.id)
              i.fas.fa-edit
              span Bearbeiten
            button.action(type="button" data-glossary=glossary.id onclick="selectForDeletion(this)")
              i.fas.fa-trash
              span Löschen
  
  a.action(href="/amberscript/glossary/new") Neues Glossar anlegen
block dialogs
  dialog#delete-dialog
    form#delete-form(onsubmit="deleteGlossary(selectedGlossary); return false;")
      fieldset#delete-fieldset
        legend Glossar löschen?
          div#delete-message.dialog-message
            text Möchten Sie dieses Glossar wirklich löschen?
          div#delete-inputs.dialog-input-area
            label(for="delete-pass") Mit Passwort bestätigen
            input#delete-pass(type="password", name="delete-pass", placeholder="Passwort")
          div#delete-buttons.dialog-buttons
            button.action(type="submit" onclick="deleteGlossary(selectedGlossary)")
              i.fas.fa-trash
              text Löschen
            button.action(type="button" onclick="closeDialog()")
              i.fas.fa-ban
              text Abbrechen