extends layout

block scripts 
    script(src="/javascripts/upload.js")
    script(src="/javascripts/video.js")
    script(src="/javascripts/project.js")

block content
  header 
    h1 Ihre Decker-Präsentationen
  