extends layout

block scripts 
    script(src="/javascripts/upload.js")
    script(src="/javascripts/video.js")
    script(src="/javascripts/project.js")

block content
  header 
    h1 Persönlicher Bereich
  main
    div.tile-area
      a.tile-like(href="/projects")
        i.fas.fa-book
        text Projekte verwalten
      a.tile-like(href="/convert")
        i.fas.fa-file-import
        text PDF-Foliensatz umwandeln
  