extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  if account
    h1 Persönlicher Bereich
    section
      div.tile-area
        a.tile(href="/projects")
          i.fas.fa-book
          span Projekte verwalten
        a.tile(href="/convert")
          i.fas.fa-file-import
          span PDF-Foliensatz umwandeln
        a.tile(href="/configuration")
          i.fas.fa-file-code
          span Decker-Konfiguration anzeigen
  h1 Decker
  section.welcome
    h2 Was ist Decker?
    p
      | Decker ist ein Softwarewerkzeug zum erstellen von interaktiven Webpräsentationen.
      | Es ist verfügbar für alle verbreiteten Betriebssysteme. Es wird in Kooperation mit
      | Arbeitsgruppen der Universität Würzburg und der Berliner Hochschule für Technik an der TU Dortmund
      | von der Arbeitsgruppe für Computergrafik und Geometrieverarbeitung des Lehrstuhl 7 der Fakultät
      | Informatik entwickelt.
  section.downloads
    h2 Download
    div.links
      div.windows-download
        h3 Windows
        a.action(href="/downloads/win/14/decker.msi" download) Installer v0.14.0-rc2 für Windows
      div.linux-download
        h3 Linux
        a.action(href="/downloads/linux/14/decker" download) Binary v0.14.0-rc2 für Linux
      div.mac.download
        h3 Mac
        a.action(href="/downloads/mac/14/decker" download) Binary v0.14.0-rc2 für MacOS
    div.github
      h3 GitHub
      a.action(href="https://github.com/decker-edu/decker/releases") Die neuesten Versionen finden Sie auf GitHub
  section.vscode
    h2 Arbeiten mit Decker
    p
      | Decker besitzt als reines Softwarewerkzeug keine graphische Benutzerschnittstelle und
      | wird stattdessen von anderen Programmen oder vom Benutzer aus der Kommandozeile aufgerufen.
      | Wir empfehlen daher zum Arbeiten mit Decker den Editor 
      a(href="https://code.visualstudio.com/") Visual Studio Code 
      | zu verwenden. Für diesen Editor gibt es eigens entwickelte Erweiterungen, die das einfache 
      | und benutzerfreundliche Arbeiten mit Decker ermöglichen.
    a.action(href="https://code.visualstudio.com/download") Download Visual Studio Code
    a.action(href="/decks/decker/manual/") Zu den Anleitungen und Handbüchern
  section.hosting
    h2 Präsentationen veröffentlichen
    p
      | Das Präsentieren von Foliensätzen auf Ihrem eigenen Rechner kann von Decker selbst umgesetzt werden. 
    p 
      | Möchten Sie jedoch auch nachträglich Ihre Präsentationen Ihrem Publikum zur Verfügung stellen, 
      | benötigen Sie eine Möglichkeit eine Webseite zu hosten. Dabei können wir Ihnen helfen. Sie können
      | aber auch andere Dienste der Universität wie z.B. das Moodle dazu verwenden.
  section.account
    h2 Decker-Account
    p
      | Zum Verwalten der Fragen, die zu Ihren Präsentationen gestellt werden, müssen Sie sich als Autor*in Ihrer Präsentation identifizieren.
      | Sie können hier ein Nutzerkonto für diese Funktion beantragen.
      | Zusätzlich können Sie mit diesem Nutzerkonto Ihre Präsentationen über unseren Webdienst zur Verfügung stellen lassen.
    if user
    else
      button.action(onclick="openRequestDialog()") Account beantragen

block dialogs 
  dialog#request-dialog
    div#request-message.dialog-message
    form#request-form(action="" method="POST")
      label(for="request-user") Benutzername
      input#request-user(required type="text", name="requestUser", placeholder="Benutzername")
      label(for="request-mail") E-Mail Adresse
      input#request-mail(required type="email", name="requestMail", placeholder="E-Mail")
      label(for="request-note") Hinweise zum Antrag
      textarea#request-note(name="requestNote", placeholder="Hinweise zum Antrag")
      div.dialog-buttons
        button.action(type="button" onclick="postRequest()") Absenden
        button.action(type="button" onclick="closeRequestDialog()") Abbrechen
  dialog#confirmation-dialog
    div#confirmation-message.dialog-message
    div.dialog-buttons
      button.action(type="button" onclick="closeConfirmationDialog()") Verstanden

