extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/index.css')

block content 
  h1 Decker
  section.welcome
    h2 Was ist Decker?
    p
      | Decker ist ein Softwarewerkzeug zum erstellen von interaktiven Webpräsentationen.
      | Es ist verfügbar für alle verbreiteten Betriebssysteme. Es wird in Kooperation mit
      | Arbeitsgruppen der Universität Würzburg und der Berliner Hochschule für Technik an der TU Dortmund
      | von der Arbeitsgruppe für Computergrafik und Geometrieverarbeitung des Lehrstuhl 7 der Fakultät
      | Informatik entwickelt.
  section.downloads
    h2 Download
    div.links
      div.windows-download
        h3 Windows
        a.action(href="/downloads/win/14/decker.msi" download) Installer v0.14.0-rc2 für Windows
      div.linux-download
        h3 Linux
        a.action(href="/downloads/linux/14/decker" download) Binary v0.14.0-rc2 für Linux
      div.mac.download
        h3 Mac
        a.action(href="/downloads/mac/14/decker" download) Binary v0.14.0-rc2 für MacOS
    div.github
      h3 GitHub
      a.action(href="https://github.com/decker-edu/decker/releases") Die neuesten Versionen finden Sie auf GitHub
  section.vscode
    h2 Arbeiten mit Decker
    p
      | Decker besitzt als reines Softwarewerkzeug keine graphische Benutzerschnittstelle und
      | wird stattdessen von anderen Programmen oder vom Benutzer aus der Kommandozeile aufgerufen.
      | Wir empfehlen daher zum Arbeiten mit Decker den Editor 
      a(href="https://code.visualstudio.com/") Visual Studio Code 
      | zu verwenden. Für diesen Editor gibt es eigens entwickelte Erweiterungen, die das einfache 
      | und benutzerfreundliche Arbeiten mit Decker ermöglichen.
    a.action(href="https://code.visualstudio.com/download") Download Visual Studio Code
    a.action(href="/decks/decker/manual/") Zu den Anleitungen und Handbüchern
  section.hosting
    h2 Präsentationen veröffentlichen
    p
      | Das Präsentieren von Foliensätzen auf Ihrem eigenen Rechner kann von Decker selbst umgesetzt werden. 
    p 
      | Möchten Sie jedoch auch nachträglich Ihre Präsentationen Ihrem Publikum zur Verfügung stellen, 
      | benötigen Sie eine Möglichkeit eine Webseite zu hosten. Dabei können wir Ihnen helfen. Sie können
      | aber auch andere Dienste der Universität wie z.B. das Moodle dazu verwenden.
  section.account
    h2 Decker-Account
    p
      | Zum Verwalten der Fragen, die zu Ihren Präsentationen gestellt werden, müssen Sie sich als Autor*in Ihrer Präsentation identifizieren.
      | Sie können hier ein Nutzerkonto für diese Funktion beantragen.
      | Zusätzliche Angebote über diesen Dienst, wie das Bereitstellen Ihrer Folien im Universitätsnetz oder
      | eine Möglichkeit Ihre mit Decker aufgenommenen Videos mithilfe des Dienstes von 
      a(href="https://amberscript.com") Amberscript 
      | auf Anfrage mit Untertiteln versehen zu können werden Ihnen ebenso angeboten.
    if user
    else
      button.action(onclick="openRequestDialog()") Account beantragen

block dialogs 
  dialog#request-dialog
    div#request-message.dialog-message
    form#request-form(action="" method="POST")
      label(for="request-user") Benutzername
      input#request-user(required type="text", name="requestUser", placeholder="Benutzername")
      label(for="request-mail") E-Mail Adresse
      input#request-mail(required type="email", name="requestMail", placeholder="E-Mail")
      label(for="request-note") Hinweise zum Antrag
      textarea#request-note(name="requestNote", placeholder="Hinweise zum Antrag")
      div.dialog-buttons
        button.action(type="button" onclick="postRequest()") Absenden
        button.action(type="button" onclick="closeRequestDialog()") Abbrechen
  dialog#confirmation-dialog
    div#confirmation-message.dialog-message
    div.dialog-buttons
      button.action(type="button" onclick="closeConfirmationDialog()") Verstanden

