doctype html
html
  head
    title= title
    link(rel='icon', type='image/png', href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //-
      link(rel="preconnect", href="https://fonts.googleapis.com")
      link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin) 
      link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto&display=swap")
      link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.4/css/all.css", integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm", crossorigin="anonymous")
    link(rel="stylesheet", href="/stylesheets/fontawesome/css/all.css")
    block styles
    script(defer src="/javascripts/mouse.js")
    script(defer src="/javascripts/login.js")
    script(defer src="/javascripts/request.js")
    block scripts

  body
    main#main-container
      header.sticky-header
        navigation.navigation-bar
          a.navigation(href="/") 
            i.fas.fa-home
            span Hauptseite
          if account
            a.navigation(href="/home") 
              i.fas.fa-cog
              span Persönliche Seite 
          if admin
            a.navigation(href="/admin") 
              i.fas.fa-toolbox
              span Administration
          if account
            button.navigation(onclick="openUserDialog()")
              i.fas.fa-user
              span#navigation-username= account.username
          else
            button.navigation(onclick="openLoginDialog()")
              i.fas.fa-sign-in-alt
              span Login
      div#content-container
        block content
      footer.sticky-footer
        a(href="https://www.tu-dortmund.de") TU Dortmund
        a(href="https://www.tu-dortmund.de/impressum") Impressum
        a(href="/data-protection") Datenschutz
    block dialogs
    if account
      dialog#user-dialog
        form#user-form
          fieldset#user-fieldset
            legend Benutzermenu
            span Eingeloggt als #{account.username}
            div#user-message.dialog-message
            div#user-inputs.dialog-input-area
            div.dialog-buttons
              a.action(href="/profile")
                i.fas.fa-wrench
                span Profileinstellungen
              button.action(type="button" onclick="logout()")
                i.fas.fa-sign-out-alt
                span Logout
    else
      dialog#login-dialog
        form#login-form(method="dialog")
          fieldset#login-fieldset
            legend Login
            div#login-message.dialog-message
            div#login-inputs.dialog-input-area
              label(for="login-user") Benutzername
              input#login-user(type="text", required, pattern="([a-z]|[A-Z]){4,}", name="login-user", placeholder="Benutzername")
              label(for="login-pass") Passwort
              input#login-pass(type="password", required, pattern=".{8,}", name="login-pass", placeholder="Passwort")
            div.dialog-buttons
              button.action(type="button" onclick="closeLoginDialog()") Abbrechen
              a.action(href="/password-recovery") Passwort vergessen
              button#login-button.action(type="submit" name="login-button") Login