doctype html
html
  head
    title= title
    meta(name="csrf" value=csrf)
    link(rel="icon", type="image/png", href="/images/favicon.png")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/fontawesome/css/all.css")
    block styles
    script(defer src="/javascripts/session.js")
    script(defer src="/javascripts/csrf.js")
    script(defer src="/javascripts/login.js")
    script(defer src="/javascripts/request.js")
    script(defer src="/javascripts/dialog.js")

    block scripts

  body
    main#main-container
      header.sticky-header
        navigation.navigation-bar
          a.navigation(href="/") 
            i.fas.fa-home
            span Hauptseite
          if account
            a.navigation(href="/home") 
              i.fas.fa-cog
              span Persönliche Seite 
          if admin
            a.navigation(href="/admin") 
              i.fas.fa-toolbox
              span Administration
          if account
            button.navigation(onclick="openDialog('user-dialog')")
              i.fas.fa-user
              span#navigation-username= account.username
          else
            button.navigation(onclick="openDialog('login-dialog')")
              i.fas.fa-sign-in-alt
              span Login
      div#content-container
        block content
      footer.sticky-footer
        a(href="https://www.tu-dortmund.de") TU Dortmund
        a(href="https://www.tu-dortmund.de/impressum") Impressum
        a(href="/data-protection") Datenschutz
    block dialogs
    if account
      dialog#user-dialog
        form#user-form
          fieldset#user-fieldset
            legend Benutzereinstellungen
            div.user-card
              i.fas.fa-user.user-icon
              div.user-info
                span.user-name=account.username
            div#user-message.dialog-message
            div#user-inputs.dialog-input-area
            div.dialog-buttons
              button.action(type="button" onclick="closeDialog('user-dialog')")
                i.fas.fa-ban
                span Schließen
              a.action(href="/profile")
                i.fas.fa-wrench
                span Profileinstellungen
              button.action(type="button" onclick="logout()")
                i.fas.fa-sign-out-alt
                span Logout
    else
      dialog#login-dialog
        form#login-form(method="dialog")
          fieldset#login-fieldset
            legend Login
            div#login-message.dialog-message
            div#login-inputs.dialog-input-area
              label(for="login-user") Benutzername
              input#login-user(type="text", required, pattern="([a-z]|[A-Z]){4,}", name="login-user", placeholder="Benutzername")
              label(for="login-pass") Passwort
              input#login-pass(type="password", required, pattern=".{8,}", name="login-pass", placeholder="Passwort")
            div.dialog-buttons
              button#login-button.action(type="submit" name="login-button") Login
              a.action(href="/password-recovery") Passwort vergessen
              button.action(type="button" onclick="closeDialog('login-dialog')") Abbrechen