extends layout

block scripts
  script(defer src="/javascripts/recovery.js")

block content
  h1 Passwort zurücksetzen
  form#reset-form
    div#reset-message
    div.form-grid
      label(for="username") Nutzername
      input#username(disabled name="username" value=username)
      label(for="email") E-Mail
      input#email(disabled type="email" name="email" value=email)
      label.hidden(for="token") Token
      input#token.hidden(type="text" name="token" value=token)
      label(for="first-password") Passwort
      input#first-password(type="password" name="first-password" placeholder="Passwort")
      label(for="second-password") Passwort Wiederholen
      input#second-password(type="password" name="second-password" placeholder="Passwort Wiederholen")
    button#reset-button.action(type="button" onclick="resetPassword()") Neues Passwort setzen 
block dialogs