extends layout

block scripts 
    script(defer src="/javascripts/dialog.js")
    script(defer src="/javascripts/profile.js")

block content
  h1 Profileinstellungen
  div#form-wrapper
    form
      div.form-grid
        label(for="profile-username") Nutzername
        input#profile-username(disabled type="text" value=account.username)
        label(for="profile-email") E-Mail
        input#profile-email(disabled pattern=".+@.+\\..{2,3}" type="email" value=account.email)
        label SSH-Schlüssel
        div.key-area
          each key in account.keys
            div.key-entry
              textarea.profile-sshkey(disabled style="resize: none; width: 100%; overflow: hidden; min-height: 12.5em;")= key
              button.action(type="button" onclick="openRemoveKeyDialog(\""+key+"\")")
                i.fas.fa-trash
                span Schlüssel löschen
      div.form-buttons
        button.action(type="button" onclick="openDialog(\"change-email\")")
          span E-Mail ändern
        button.action(type="button" onclick="openDialog(\"change-password\")")
          span Passwort ändern
        button.action(type="button" onclick="openDialog(\"add-ssh-key\")")
          span SSH-Schlüssel hinzufügen
        button.action(type="button" onclick="openDialog(\"delete-account\")")
          span Konto löschen

block dialogs
  dialog#change-password
    div.dialog-message
    form#change-password-form(onsubmit="changePassword(\""+account.username+"\"); return false;")
      fieldset#change-password-fieldset
        legend Passwort ändern
        div.form-grid
          label(for="change-password-old") Altes Passwort
          input#change-password-old(type="password" required pattern="^.{8,}" placeholder="Altes Passwort")
          label(for="change-password-new") Neues Passwort
          input#change-password-new(type="password" required pattern="^.{8,}" placeholder="Neues Passwort" onkeyup="passwordChanged()")
          label(for="change-password-new-repeat") Neues Passwort Wiederholen
          input#change-password-new-repeat(type="password" required pattern="^.{8,}" placeholder="Passwort Wiederholen" onkeyup="passwordChanged()")
      div.dialog-buttons
        button#change-password-button.action(disabled type="button" onclick="changePassword(\""+account.username+"\")")
          i.fas.fa-key
          span Passwort Ändern
        button.action(type="button" onclick="closeDialog(\"change-password\")")
          i.fas.fa-ban
          span Dialog schließen

  dialog#change-email
    div.dialog-message
    form#change-email-form(onsubmit="changeEmail(\""+account.username+"\"); return false;")
      fieldset#change-email-fieldset
        legend E-Mail-Adresse ändern
        div.form-grid
          label(for="change-email-input") Neue E-Mail-Adresse
          input#change-email-input(type="email" required pattern="^.+@.+\\..{2,3}" placeholder="Neue E-Mail" onkeyup="emailChanged()")
          label(for="change-email-confirmation") Mit Passwort bestätigen
          input#change-email-confirmation(type="password" required pattern="^.{8,}" placeholder="Passwort" onkeyup="emailChanged()")
      div.dialog-buttons
        button#change-email-button.action(disabled type="button" onclick="changeEmail(\""+account.username+"\")")
          i.fas.fa-envelope
          span E-Mail-Adresse ändern
        button.action(type="button" onclick="closeDialog(\"change-email\")")
          i.fas.fa-ban
          span Dialog schließen

  dialog#remove-ssh-key-dialog
    div#remove-ssh-key-message.dialog-message
    form#remove-ssh-key-form(onsubmit="removeKey(\""+account.username+"\"); return false;")
      fieldset#remove-ssh-key-fieldset
        legend SSH-Schlüssel entfernen
        div.form-grid
          label(for="remove-ssh-key-textarea") Schlüssel
          textarea#remove-ssh-key-textarea(name="key" placeholder="SSH-Schlüssel" disabled)
          label(for="remove-ssh-key-confirmation") Mit Passwort bestätigen
          input#remove-ssh-key-confirmation(required name="password" type="password" pattern="^.{8,}" placeholder="Passwort" onkeyup="deleteChanged()")
      div.dialog-buttons
        button#remove-ssh-key-button.action(disabled type="button" onclick="removeKey(\""+account.username+"\")")
          i.fas.fa-trash
          span SSH-Schlüssel entfernen
        button.action(type="button" onclick="closeDialog(\"remove-ssh-key-dialog\")")
          i.fas.fa-ban
          span Dialog schließen


  dialog#add-ssh-key
    div.dialog-message
    form#add-ssh-key-form(onsubmit="addKey(\""+account.username+"\"); return false;")
      fieldset#add-ssh-key-fieldset
        legend SSH-Schlüssel hinzufügen
        div.form-grid
          label(for="add-ssh-key-textarea") Neuer SSH-Schlüssel
          textarea#add-ssh-key-textarea(required name="ssh-key" placeholder="SSH-Schlüssel" onkeyup="sshkeyChanged()")
          label(for="add-ssh-key-confirmation") Mit Passwort bestätigen
          input#add-ssh-key-confirmation(required name="password" type="password" pattern="^.{8,}" placeholder="Passwort" onkeyup="sshkeyChanged()")
      div.dialog-buttons
        button#add-ssh-key-button.action(disabled type="button" onclick="addKey(\""+account.username+"\")")
          i.fas.fa-key
          span SSH-Schlüssel hinzufügen
        button.action(type="button" onclick="closeDialog(\"add-ssh-key\")")
          i.fas.fa-ban
          span Dialog schließen

  dialog#delete-account
    div.dialog-message
      | Das automatische Löschen von Konten auf Anfrage ist noch nicht vollständig umgesetzt.
      | Sollten Sie Ihr Konto vollständig und mit allen Inhalten entfernen wollen, bitte kontaktieren Sie den Administrator:
      | admin.hylec@tu-dortmund.de
    // form#delete-account-form
      fieldset#delete-account-fieldset
        legend Konto löschen
        div.form-grid
          label(for="delete-account-confirmation") Mit Passwort bestätigen
          input#delete-account-confirmation(required name="password" type="password" pattern="^.{8,}" placeholder="Passwort" onchange="sshkeyChanged()")
    div.dialog-buttons
      //button#delete-account-button(disabled type="button" onclick="deleteAccount(\""+account.username+"\")")
        i.fas.fa-trash
        span Konto löschen
      button.action(type="button" onclick="closeDialog(\"delete-account\")")
        i.fas.fa-ban
        span Dialog schließen