extends layout

block scripts 
    script(defer src="/javascripts/upload.js")
    script(defer src="/javascripts/video.js")
    script(defer src="/javascripts/project.js")

block content
  header 
    h1 Ihre Webpräsentationen
  main
    div#table-area
      table 
        thead
          tr
            th Projekt
            th Aktionen
        tbody
          each project in projects
            tr
              td
                a.action(href="/decks/" + account.username + "/" + project.name + "/" target="_blank")
                  i.fas.fa-external-link
                  span= project.name
              td
                div.actions
                  a.action(href="/sync/" + account.username + "/" + project.name)
                    i.fas.fa-tasks-alt
                    span Verwalten
                  button.action(onclick="openDeleteProjectDialog('"+project.name+"')" aria-label="Projekt "+project.name+" löschen") 
                    i.fas.fa-trash
                    span Löschen
    div#action-area
      button.action(onclick="openDialog(\"upload-project-dialog\")" aria-label="Neues Projekt hochladen")
        i.fas.fa-cloud-arrow-up
        span Projekt hochladen
      button.action(onclick="openDialog(\"create-empty-project-dialog\")" aria-label="Neues leeres Projekt erzeugen")
        i.fas.fa-folder-plus
        span Neues leeres Projekt erzeugen
block dialogs
  dialog#create-empty-project-dialog
    form#create-empty-project-form(onsubmit="return false;")
      fieldset
        legend Leeres Projekt anlegen
        div.form-content
          div.inset#empty-project-message-area
          input#empty-project-name-input(type="text" name="projectName" placeholder="Projektname" onkeyup="if(event.key === 'Enter') createEmptyProject();")
        div.dialog-buttons
          button#create-empty-button.action(type="button" onclick="createEmptyProject()" title="Erstellen" aria-label="Erstellen")
            i.fas.fa-plus
            span Projekt erstellen
          button.action(type="button" onclick="closeDialog(\"create-empty-project-dialog\")" title="Abbrechen" aria-label="Abbrechen")
            i.fas.fa-ban
            span Abbrechen
  dialog#upload-project-dialog
    form#upload-project-form(onsubmit="return false;")
      fieldset
        legend Projekt hochladen
        div.form-content
          div#upload-area
            div#drop-area
              i.fas.fa-cloud-arrow-up
              span Drag &amp; Drop
              span oder
              label.fileinput#file-upload-placeholder(tabindex="0" onkeydown="passOn(event)")
                span#file-upload-label Datei auswählen
                input#file-upload-input(type="file" enctype="multipart/form-data" name="projectFile" onchange="inputChanged()")
            div#progress-area(hidden)
              progress#upload-progress
            div#upload-message-area
              span#upload-message
          div.info-box
            div.info-icon
              i.fas.fa-circle-info
            p.upload-information.
              Zum hochladen eines Projektes archivieren Sie einfach das von Decker generierte Verzeichnis #[code public]
              in einer #[code .zip] Datei und wählen dieses Archiv aus. 
              Das Archiv sollte auf oberster Ebene nur den Ordner #[code public] beinhalten. 
              Alternativ können Sie auch einfach den #[code public] Ordner per Drag &amp; Drop in die obere Box ziehen.
          div#project-config(hidden)
            label(for="project-name-input") Projektname: 
            input#project-name-input(type="text" name="projectName" onkeyup="projectNameChanged(event)")
          div.dialog-buttons
            button#upload-directory-button.action(type="button" onclick="uploadDirectory()" title="Ordner Hochladen" aria-label="Ordner Hochladen" hidden disabled)
              i.fas.fa-upload
              span Ordner hochladen
            button#file-upload-button.action(type="button" onclick="upload()" title="Hochladen" aria-label="Hochladen" hidden)
              i.fas.fa-upload
              span Upload starten
            button#close-upload-dialog-button.action(type="button" onclick="closeDialog('upload-project-dialog')" title="Dialog Schließen" aria-label="Dialog Schließen")
              i.fas.fa-ban
              span Dialog Schließen
            
  dialog#delete-dialog
    form#delete-form(onsubmit="return false;")
      fieldset#delete-fieldset
        legend Möchten Sie das Projekt wirklich löschen?
        div#delete-message.dialog-message.message-info
          span Dies entfernt alle Inhalte des Projektes, inklusive aller generierten Daten.
        div#delete-inputs.form-grid
          label(for="delete-pass") Mit Passwort bestätigen:
          input#delete-pass(type="password", name="delete-pass", placeholder="Passwort")
        div#delete-buttons.dialog-buttons
          button.action(type="button" onclick="deleteSelectedProject()")
            i.fas.fa-trash
            span Löschen
          button.action(type="button" onclick="closeDialog('delete-dialog')")
            i.fas.fa-ban
            span Dialog schließen
              