extends layout

block scripts 
    script(defer src="/javascripts/upload.js")
    script(defer src="/javascripts/video.js")
    script(defer src="/javascripts/project.js")
    script(defer src="/javascripts/dialog.js")

block content
  header 
    h1 Ihre Webpräsentationen
  main
    div#table-area
      table 
        thead
          tr
            th Projekt
            th Aktionen
        tbody
          each project in projects
            tr
              td
                a.action(href="/decks/" + account.username + "/" + project.name + "/" target="_blank")
                  i.fas.fa-external-link
                  span= project.name
              td
                div.actions
                  a.action(href="/sync/" + account.username + "/" + project.name)
                    i.fas.fa-tasks-alt
                    span Verwalten
                  button.action(onclick="openDeleteProjectDialog('"+project.name+"')" aria-label="Projekt "+project.name+" löschen") 
                    i.fas.fa-trash
                    span Löschen
    div#action-area
      button.action(onclick="openDialog(\"upload-project-dialog\")" aria-label="Neues Projekt hochladen")
        i.fas.fa-cloud-arrow-up
        span Projekt hochladen
      button.action(onclick="openDialog(\"create-empty-project-dialog\")" aria-label="Neues leeres Projekt erzeugen")
        i.fas.fa-folder-plus
        span Neues leeres Projekt erzeugen
block dialogs
  dialog#create-empty-project-dialog
    form#create-empty-project-form
      fieldset
        legend Bitte geben Sie den Namen für ihr leeres Projektverzeichnis an.
        div.form-content
          input#empty-project-name-input(type="text" name="projectName")
        div.dialog-buttons
          button#create-empty-button.action(type="button" onclick="createEmptyProject()" title="Erstellen" aria-label="Erstellen")
            i.fas.fa-upload
            span Projekt erstellen
          button.action(type="button" onclick="closeDialog(\"create-empty-project-dialog\")" title="Abbrechen" aria-label="Abbrechen")
            i.fas.fa-ban
            span Abbrechen
  dialog#upload-project-dialog
    form#upload-project-form(onsubmit="return false;")
      fieldset
        legend Projekt hochladen
        div.form-content
          div#upload-area
            i.fas.fa-cloud-arrow-up
            span Drag &amp; Drop
            label.fileinput#file-upload-placeholder(tabindex="0" onkeydown="passOn(event)")
              span#file-upload-label Datei auswählen
              input#file-upload-input(type="file" enctype="multipart/form-data" name="projectFile" onchange="inputChanged()")
          div.info-box
            div.info-icon
              i.fas.fa-circle-info
            p.upload-information.
              Zum hochladen eines Projektes archivieren Sie einfach das von Decker generierte Verzeichnis #[pre.inline public]
              in einer #[pre.inline .zip] Datei und wählen dieses Archiv aus. 
              Das Archiv sollte auf oberster Ebene nur den Ordner #[pre.inline public] beinhalten. 
              Alternativ können Sie auch einfach den #[pre.inline public] Ordner per Drag &amp; Drop in die obere Box ziehen.
          div.dialog-buttons
            div#project-config(hidden)
              label(for="project-name-input") Projektname: 
              input#project-name-input(type="text" name="projectName")
              button#upload-directory-button.action(type="button" onclick="uploadDirectory()" title="Ordner Hochladen" aria-label="Ordner Hochladen" hidden)
                i.fas.fa-upload
                span Ordner hochladen
              button#file-upload-button.action(type="button" onclick="upload()" title="Hochladen" aria-label="Hochladen" hidden)
                i.fas.fa-upload
                span Upload starten
            
  dialog#delete-dialog
    form#delete-form(onsubmit="return false;")
      fieldset#delete-fieldset
        legend Projekt löschen?
          div#delete-message.dialog-message
            span Dies entfernt alle sich hier befindlichen Inhalte des Projektes, inklusive aller generierten Untertitel.
          div#delete-inputs.dialog-input-area
            label(for="delete-pass") Mit Passwort bestätigen
            input#delete-pass(type="password", name="delete-pass", placeholder="Passwort")
          div#delete-buttons.dialog-buttons
            button.action(type="button" onclick="deleteSelectedProject()")
              i.fas.fa-trash
              span Löschen
            button.action(type="button" onclick="closeDialog('delete-dialog')")
              i.fas.fa-ban
              span Dialog schließen
              