extends layout

block scripts
  script(defer src="/javascripts/register.js")

block content
  header 
    h1 Account Registrieren
  main 
    //-    section
      h2 Angebote des Dienstes
      p Dieser Dienst stellt Ihnen aktuell folgende Funktionen zur Verfügung:
        ol
          li 
            | Nutzung der Administrationsfunktion des Fragen/Feedbackwerkzeugs von Deckerpräsentationen,
            | die mit ihrem Nutzernamen markiert sind
      p Weitere Funktionen durch diesen Dienst sind in Arbeit.
    section
      h2 Nutzungsbedingungen
      p 
        | Mit der Nutzung dieses Dienstes bestätigen Sie, dass Sie die Inhalte,
        | die Sie über diesen Dienst hochladen auf urheber- und verfassunsrechtliche Richtigkeit geprüft haben.
      p 
        | Inhalte, die gegen geltendes Recht verstoßen können von uns ohne Nachfrage gelöscht werden.
    form#register-form
      div#register-message
      div.form-grid
        label(for="register-username") Benutzername
        input#register-username(type="text", name="registerUsername", value= username, disabled)
        label(for="register-email") E-Mail
        input#register-email(type="email", name="registerEmail", value= email, disabled)
        label.hidden(for="register-token") Token
        input#register-token.hidden(type="text", name="registerToken", value= token, disabled)
        label(for="register-password") Passwort
        div.password-container
          input#register-password(type="password", required, pattern=".{8,}", name="registerPassword", placeholder="Passwort")
          button.reveal-password(type="button", onclick="togglePasswordVisibility(event)", aria-label="Passwort anzeigen")
            i.fas.fa-eye
            i.fas.fa-eye-slash
        label(for="register-repeat-password") Passwort wiederholen
        div.password-container
          input#register-repeat-password(type="password", required, pattern=".{8,}", name="registerRepeatPassword", placeholder="Passwort wiederholen")
          button.reveal-password(type="button", onclick="toggleRepeatVisibility(event)", aria-label="Passwort anzeigen")
            i.fas.fa-eye
            i.fas.fa-eye-slash
      button#register-button.action(type="button" onclick="postRegister()") Registrieren 
block dialogs