extends layout

block scripts
  script(defer src="/javascripts/recovery.js")

block content
  h1 Passwort vergessen? 
  form#recovery-form(onsubmit="requestRecovery(); return false;")
    div#recovery-message Bitte geben Sie die E-Mailadresse Ihres Nutzerkontos an.
    div.form-grid
      label(for="email") E-Mail
      input#email(required type="email" name="email" placeholder="E-Mail")
    button#recovery-button.action(type="button" onclick="requestRecovery()") Passwortwiederherstellung anfragen 
block dialogs