extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/progress.css')


block scripts 
  script(defer type="module" src="/javascripts/sync.js")

block content
  h1 Projektverwaltung
  div#synchronization
    h2 Projektsynchronisation
    div.message-area
        span#error-message
    div#sync-controls.centered.col-order
      button.action#pick-directory-button Lokalen Ordner auswählen
      div#progress-area.inset(hidden=true)
        div.message-wrapper
          span#progress-message
        div.progress-wrapper
          label#total-progress-label(for="total-progress") Total
          progress#total-progress(value=50 max=100)
        div.progress-wrapper
          label#file-progress-label(for="file-progress") Partial
          progress#file-progress
      div.row-order.wmax
        button#upload-button.action(disabled) 
          i.fas.fa-upload
          span Lokale Dateien synchronisieren
        button#download-button.action(disabled)
          i.fas.fa-download
          span Generierte Dateien herunterladen
      div.sync-tables
        div.file-table#client-table
        div.file-table#server-table
  div#access
    h2 Zugriffsbeschränkung
    div.message-area
      p Ihre Präsentation ist aus rechtlichen Gründen nur über das Universitätsnetz der TU Dortmund erreichbar.
      p Sie können Nutzern einen Zugriff außerhalb des Universitätsnetzes durch Angabe eines einheitlichen Logins ermöglichen.
      p Wenn Sie Ihre Folien mit <code>decker publish</code> hochladen wird die Passwortdatei von <code>rsync</code> gelöscht. 
        | Sie können die Passwortdatei herunterladen und in Ihrem Projektverzeichnis als <code>.htpasswd</code> hinterlegen, um
        | den externen Zugang per Nutzername und Passwort weiterhin zu ermöglichen.
    div#access-controls.centered
      form#access-form
        div
          span#access-message
        div.row-order
          input#access-username(name="access-username" placeholder="Nutzername")
          input#access-password(name="access-password" type="password" placeholder="Passwort")
        div.row-order
          button.action(id="set-ht-btn" type="button")
            i.fas.fa-edit
            span Zugriffsdaten setzen
          button#download-access-button.action(type="button" disabled)
            i.fas.fa-download
            span Passwortdatei herunterladen
          button.action(id="del-ht-btn" type="button")
            i.fas.fa-trash
            span Zugriffsdaten löschen

block dialogs
  dialog#confirm-download
    legend#download-legend Möchten Sie die folgenden Dateien, die sich auf dem Server von den Ihren 
      | unterscheiden, in ihr Projektverzeichnis übernehmen? Denken Sie daran, dass Sie Ihr Projekt
      | erneut übersetzen müssen, damit die Dateien in Ihr hochzuladendes Projekt übernommen werden.
    ul#download-list
    div.dialog-buttons
      button.action(type="button" onclick="closeDialog(\"confirm-download\")")
        i.fas.fa-times
        span Abbrechen
      button#confirm-download-button.action(type="button")
        i.fas.fa-check
        span Durchführen
  dialog#confirm-upload
    legend#upload-legend Sie sind dabei ihr Projekt auf den Server zu synchronisieren. Möchten Sie dabei alle 
      | Dateien auf dem Server, die kein Gegenstück in ihrem Projekt haben, löschen, um auf dem Server eine
      | exakte Kopie ihres Projektverzeichnisses zu erhalten?
    div#selection.inset
      input#delete-on-upload(type="checkbox")
      label(for="delete-on-upload") Nicht vorhandene Dateien auf dem Server löschen
    div.dialog-buttons
      button.action(type="button" onclick="closeDialog(\"confirm-upload\")")
        i.fas.fa-times
        span Abbrechen
      button#confirm-upload-button.action(type="button")
        i.fas.fa-check
        span Durchführen