extends layout

block scripts 
  script(defer src="/javascripts/sync.js")

block content
  h1 Projektverwaltung
  div#synchronization
    h2 Projektsynchronisation
    div.message-area
        span#error-message
    div#sync-controls.centered.col-order
      button.action(onclick="requestDirectoryAccess()") Lokalen Ordner auswählen
      div.row-order.wmax
        button#upload-button.action(disabled onclick="upload()") 
          i.fas.fa-upload
          span Lokale Dateien hochladen
        button#download-button.action(disabled onclick="download()")
          i.fas.fa-download
          span Generierte Dateien herunterladen
      div.sync-tables
        div.file-table#client-table
        div.file-table#server-table
  div#access
    h2 Zugriffsbeschränkung
    div.message-area
      p Ihre Präsentation ist aus rechtlichen Gründen nur über das Universitätsnetz der TU Dortmund erreichbar.
      p Sie können Nutzern einen Zugriff außerhalb des Universitätsnetzes durch Angabe eines einheitlichen Logins ermöglichen.
    div#access-controls.centered
      form#access-form
        div
          span#access-message
        div.row-order
          input#access-username(name="access-username" placeholder="Nutzername")
          input#access-password(name="access-password" type="password" placeholder="Passwort")
        div.row-order
          button.action(type="button" onclick="setHtpasswd()")
            i.fas.fa-edit
            span Zugriffsdaten setzen
          button.action(type="button" onclick="deleteHtpasswd()")
            i.fas.fa-trash
            span Zugriffsdaten löschen

block dialogs