extends layout

block scripts 
    script(defer src="/javascripts/upload-video.js")
    script(defer src="/javascripts/dialog.js")

block content
  h1 Ihre Videodateien
  div#explanation
    p Sie können hier Videos hochladen, die Sie nach dem Upload an Amberscript zum Generieren von Untertiteln übergeben können.
  div#video-area
    table 
      thead
        tr
          th Video
      tbody#video-table-body
  div#upload-area
    button.action(onclick="addVideoUpload()" aria-label="Neues Video hochladen")
      i.fas.fa-cloud-arrow-up
      span Video hochladen
    div#insert-area
  template#video-upload-template
    label.fileinput#file-upload-placeholder(tabindex="0" onkeydown="passOn(event)")
      span#file-upload-label Datei auswählen
      input#file-upload-input(type="file" enctype="multipart/form-data" name="videoFile" onchange="inputChanged()")
    button#file-upload-button.action(onclick="uploadVideo()" title="Hochladen" aria-label="Hochladen" hidden)
      i.fas.fa-upload
      span Upload starten
block dialogs