extends layout

block scripts 

block content
  header 
    h1 Amberscriptaufträge
  main
    table
      thead
        tr
          th Jobnummer
          th Projektname
          th Dateiname
          th Status
          th Aktionen
      tbody
        each job in jobs
          tr
            td= job.job_id
            td= job.projectname
            td= job.relative_filepath
            td 
              case job.status
                when "DONE"
                  text Erledigt
                when "OPEN"
                  text Ausstehend
                when "ERROR"
                  text Fehlerhaft
            td
              button:disabled Löschen
block dialogs