extends layout

block scripts 

block content
  header 
    h1 Decker Konfiguration
  main
    p Die Dienste dieses Servers können von Ihrer Webpräsentation folgendermaßen erreicht werden:
    h2 decker.yaml
    pre.code
      | # Frage-/Feedbackmenu
      | feedback:
      |   base-url: "https://decker.cs.tu-dortmund.de/feedback"
      |
      | # Teilnehmerumfragen (Mutliple Choice Gewinnspiel)
      | poll-server: "wss://decker.cs.tu-dortmund.de/quizzer/quiz"
      |
      | # Live-Untertitel
      | caption-server: "https://decker.cs.tu-dortmund.de/captions"
      | speech-recognition-language: "de-DE"
    h2 rsync
    pre.code
      | publish:
      |   rsync:
      |     destination: 'decker-#{account.username}@decker.cs.tu-dortmund.de:/home/decker-#{account.username}/decks/projectname'
      |     options:
      |       - '-av'

block dialogs