extends layout

block content
  header
    h1 Ein Fehler ist aufgetreten.
  main
    h1= message
    if error
      if error.status
        h2= error.status
      else
        h2 500
      if error.stack
        pre= error.stack
