extends layout

block scripts
  script(defer src="/javascripts/recovery.js")

block content
  header 
    h1 Passwort vergessen?
  main 
    form#recovery-form
      div#recovery-message
      div.form-grid
        label(for="email") E-Mail
        input#email(required type="email" name="email" placeholder="E-Mail")
      button#recovery-button(type="button" onclick="requestRecovery()") Passwortwiederherstellung anfragen 
block dialogs