extends layout

block scripts 
  script(defer src="/javascripts/sync.js")

block content
  main#content
    div.content-block
      div.control-area
        button(onclick="requestDirectoryAccess()") Lokalen Ordner auswählen
        div.message-area
          span#error-message
        div.expanded-controls
          button#upload-button(disabled onclick="upload()") Lokale Dateien hochladen
          button#download-button(disabled onclick="download()") Generierte Dateien herunterladen
      div.sync-area
        div.file-table#client-table
        div.file-table#server-table

block dialogs