extends layout

block scripts 
  script(defer src="/javascripts/sync.js")

block content
  script(type="application/json" id="project-file-data").
    !{files}
  main#content
    div.content-block
      button(onclick="requestFiles()") Lokalen Ordner auswählen
      div.sync-area
        div.file-table#client-table
        div.file-table#server-table
      button(onclick="compareData()") Ordner miteinander vergleichen

block dialogs